
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
    --first-color: hsl(29, 80%, 58%);
    --first-color-light: hsl(29, 80%, 70%);
    --black-color: hsl(29, 16%, 10%);
    --text-color: hsl(29, 8%, 65%);
    --body-color: hsl(29, 100%, 99%);
    --body-font: 'Poppins', sans-serif;

    --h3-font-size: 1.125rem;
    --smaller-font-size: .75rem;
}